/* All common css start  */
*{
        margin: 0;
        padding: 0;
}

   a{
        text-decoration: none;
   }
   ul,ol{
        list-style-type: none;
   }
   .container{
        width: 1320px;
        margin: 0 auto;
   }
/* All common css end  */

/* Header part start  */

#header_part{
     
}
.logo_with_menu{
     display: flex;
}
.logo{
     width: 40%;
     padding-top: 20px;
     padding-left: 15px;
}
.menu{
     width: 40%;
     
}
.menu ul{
     display: flex;

}
.menu ul li a{
     padding: 0 20px;
     line-height: 80px;
     font-size: 16px;
     font-weight: 400;
     font-family: "Montserrat", sans-serif;
     text-transform: uppercase;
     color: #000000;
}
.icons{
     width: 20%;
     padding: 30px 0;

}
.icons i{
     margin-left: 15px;
}
/* Header part end  */







/* Header part start  */
/* Header part start  */
/* Header part start  */
/* Header part start  */
/* Header part start  */